 <%= image_tag 'jdh.png', class: 'img-fluid m-2' %>
 <div class="my-4">
  <h1>Azure Active Directory</h1>
  
  <p> Azure Active Directory (Azure AD) is a cloud-based identity and access management solution that provides secure access to your applications and services. It is a comprehensive cloud identity management solution that provides a range of capabilities, including <strong>single sign-on</strong>, <strong>multifactor authentication</strong>, <strong>conditional access</strong>, <strong>identity protection</strong>, and <strong>privileged identity management</strong>.</p>
  <p>Azure AD supports <strong>Active Directory authentication</strong> for SQL Server 2022 and Azure Files. Active Directory authentication allows you to use your on-premises Active Directory credentials to authenticate with different Azure services.</p>
  <p>For hybrid security, you can integrate Azure AD password protection with an on-premises Active Directory environment. A component installed in the on-premises environment receives the global banned password list and custom password protection policies from Azure AD, and domain controllers use them to process password change events.</p>
</div>