
<% if flash.any? %>
<div id="flash_messages" class="my-2">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "alert alert-#{key=='notice' ? 'success' : 'danger'}") %>
  <% end %>
</div>
<% end  %>